python=3.7
seaborn 
plotly 
pygraphviz 
pandas 
matplotlib == 3.2.2 
bqplot == 0.12.30 
numpy 
regex 
networkx 
openssl 
altair 
yt 
geopandas 
gdal 
rasterio 
shapely 
pyproj 
rtree 
fiona 
pillow 
palettable 
h5py 
contextily 
webcolors 
openpyxl 
ipyvolume 
ipyleaflet 
vega_datasets 
nltk 
wordcloud 
wget 